<!DOCTYPE html>
<html>
<head>
  <title>UEFA</title>
  <%= stylesheet_link_tag    'public/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'public/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top menu-top" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <!-- <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#nextMatch">Prochains matchs</a>
        </li>
        <li>
          <a class="page-scroll" href="#download">Résultats</a>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Connexion', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  <!-- /.container -->
</nav>

<%= yield %>

  <footer>
    <div class="logo">

    </div>
    <div class="container copyright">
      <p>
        Copyright <a href="http://www.nordlittoral.fr/">Nord Littoral</a> © 2016. All rights reserved.
      </p>
    </div>
    <div class="clear"></div>
  </footer>

</body>
</html>
